.card__character {
  @include flex-direction-justify(column, space-between);
  margin: 0 20px;
  height: 100%;
  width: 300px;
  background: url(../img/witcher/witcher_medium.png) 0 0/cover;
  padding: 1rem;
  border-radius: 20px;
}