.mySelect {
  width: 100%;
  margin: 10px 5px;
  padding: 0.5rem;
  border: 2px solid rgb(138, 104, 18);
  background-color: rgb(143, 110, 79);
  cursor: pointer;
  font-size: 30px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:focus {
    outline: none;
    border-color: goldenrod;
  }

  option {
    background-color: rgb(143, 110, 79);
    color: black;

    &:hover {
      background-color: rgb(237, 214, 96);
    }
  }
}