@import '../../../styles/utils/mixins.scss';

.myModal {
  @include flex-center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);

  &__content {
    @include flex-direction-justify(column, flex-start);
    width: 50%;
    padding: 2rem;
    border-radius: 15px;
    border: 5px solid rgb(40, 29, 25);
    background-color: rgb(54, 38, 33);
  }
}