.map__page {
  padding: 0.3rem;
  width: 100%;
  height: 95%;

  &__characters {
    @include flex-direction-justify(row, space-between);
    width: 100%;
    height: 20%;
    min-height: 15%;
    margin-bottom: 5px;
  }

  &__buttons {
    display: flex;
    
    &__switch {
      display: flex;
      width: 50%;
    }
  }

  &__main {
    margin: 5px 0;
    height: 80%;
    background: url(../img/map__castle1.png) center/contain no-repeat;
    border: 5px solid rgb(54, 38, 33);
  }
}

.location__1 {
  background: url(/img/locations/location__1.jpg) center/cover no-repeat;
}

.location__2 {
  background: url(/img/locations/location__2__city.jpg) center/cover no-repeat;
}

.location__3 {
  background: url(/img/locations/map__castle1.png) center/cover no-repeat;
}