@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-direction-justify($direction: row, $justify: flex-start){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}